/* ÁREA PRINCIPAL */

.area-principal {
    flex: 1;
    padding-left: 25px;
}


/* BANNER / IMAGEM GRANDE */

.banner {
    position: relative;
    overflow: hidden;
}

.banner img {
    display: block;
    height: 250px;
    object-fit: cover;
}


/* ARTIGO PRINCIPAL */

.artigo-destaque {
    margin-bottom: 25px;
}

.artigo-principal {
    width: 45%;
}

.artigo-principal h2 {
    margin: 0 0 8px;
    font-size: 20px;
}

.artigo-principal img {
    display: block;
    height: 165px;
    object-fit: cover;
}

.artigo-principal p {
    margin-top: 12px;
    line-height: 1.5;
}

/* OUTROS ARTIGOS */

.artigos {
    display: grid;
    gap: 25px;
}

/* ARTIGO INDIVIDUAL */

.artigos .artigo {
    display: flex;
    gap: 15px;
    padding: 5px;
}

/* IMAGEM DOS ARTIGOS */

.artigos .artigo img {
    height: 105px;
    object-fit: cover;
    flex-shrink: 0;
}


/* TEXTO DOS ARTIGOS */

.artigos .artigo div {
    flex: 1;
}

.artigos .artigo h2 {
    margin: 0 0 8px;
    font-size: 18px;
}

.artigos .artigo p {
    margin: 4px 0;
    font-size: 14px;
}